portal/inc/api/core/data/stub.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:p1="urn:matw.com:xi:ptd:sapappl:g_sapecc:createsalesorder:100" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="SI_SalesOrderCreate_Sync_OB" targetNamespace="urn:matw.com:xi:ptd:sapappl:g_sapecc:createsalesorder:100">
   <wsdl:documentation />
   <wsp:UsingPolicy wsdl:required="false" />
   <wsp:Policy wsu:Id="OP_SI_SalesOrderCreate_Sync_OB" />
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:matw.com:xi:ptd:sapappl:g_sapecc:createproject:100" targetNamespace="urn:matw.com:xi:ptd:sapappl:g_sapecc:createproject:100">
         <xsd:complexType name="DT_Characteristic">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               ff95d64828ca11e6c651000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Name" type="xsd:string" />
               <xsd:element name="Value" type="xsd:string" />
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:p8="urn:matw.com:xi:ptd:sapappl:g_sapecc:createproject:100" xmlns="urn:matw.com:xi:ptd:sapappl:g_sapecc:createsalesorder:100" targetNamespace="urn:matw.com:xi:ptd:sapappl:g_sapecc:createsalesorder:100">
         <xsd:import namespace="urn:matw.com:xi:ptd:sapappl:g_sapecc:createproject:100" />
         <xsd:element name="MT_SalesOrderCreateRequest" type="DT_SalesOrders" />
         <xsd:element name="MT_SalesOrderCreateResponse" type="DT_SalesOrderCreateResponse" />
         <xsd:complexType name="DT_SalesOrder">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               c9a9754731ce11e69e5d000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="Header" type="DT_Header">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     c9a28ba231ce11e6bd55100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Partners" type="DT_Partner" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     c9a2a48331ce11e6ba23100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="LineItems" type="DT_LineItem">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     c9a2a48431ce11e68201100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_SalesOrderResponse">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               d388ec0631c311e68f98000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="TransactionID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc693afb7c11e5b2172c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     transaction id
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc693bfb7c11e5ca542c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Customer Number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerPOnumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc8c2dfb7c11e59b852c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Customer purchase order number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="YourReference" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc8c2efb7c11e5cf082c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Your Reference
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Status">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc8c2ffb7c11e5b6392c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Creation status
                     </xsd:documentation>
                  </xsd:annotation>
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="SUCCESS" />
                        <xsd:enumeration value="ERROR" />
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="MessageText" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0bc8c30fb7c11e5cac02c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Message text
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="SalesorderNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     b7ad807331c211e6cfa4100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ServiceOrders" type="DT_ServiceOrder" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     b7ad807431c211e6c240100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_Partner">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               bc60682bfb7011e5bf5d000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="CustomerNumber" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f005ffb7011e5a7722c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Customer Number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="PartnerFunction" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f44a5fb7011e5cb232c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Partner Function
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Name" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f44a6fb7011e5a01b2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Name
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Address1" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f44a7fb7011e587742c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     House number and street
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Address2" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f44a8fb7011e59bc42c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Address2
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="City" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     bc4f44a9fb7011e592bf2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     City
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="State" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     207dc89afb7511e5a36e2c44fd68f65a
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Country" type="xsd:string" minOccurs="0" />
               <xsd:element name="ZipCode" type="xsd:string" minOccurs="0" />
               <xsd:element name="Telephone" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_SalesOrders">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               8ec3dc0b31ce11e68924000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="SalesOrder" type="DT_SalesOrder">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     8eb8dbf031ce11e68d32100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_LineItem">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               ae413a6f31ce11e692ff000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ItemNumber" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c151fb7a11e5b5d52c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales Document Item
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ReleaseFlag" type="xsd:boolean" default="false">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c152fb7a11e593452c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     auto-release statusof sales order line item
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="UpdateMaterialFlag" type="xsd:boolean" minOccurs="0" default="false">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     496b618328f711e6c213100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Material" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c153fb7a11e5a3bb2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Material Number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="MaterialDescription" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     0c2fe4ad28d011e6ac3a100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Plant" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c154fb7a11e5848f2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Plant
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="TargetQuantity" type="xsd:integer">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c155fb7a11e58c832c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Target quantity in sales units
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="UoM" type="xsd:string">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c156fb7a11e5a73b2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Target quantity UoM
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ItemCategory" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c157fb7a11e5ae932c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales document item category
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="WBS_Element" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c158fb7a11e5bb922c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Work Breakdown Structure Element (WBS Element)
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ExternalReference" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c159fb7a11e59b5d2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     External Reference
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ItemReference" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a066c15afb7a11e5acfc2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Item Reference
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerMaterialNb" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     0c30178928d011e69f9d100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerMaterialDescription" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     0c30178a28d011e6c945100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ProductFamily" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     cba7099028f611e6ba81100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Brand" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     cba7099128f611e6cd9a100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="SubBrand" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     cba7099228f611e6b4b1100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ScheduleLine" type="DT_ScheduleLine">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a7576fcefb7a11e5c9602c44fd68f65a
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Characteristics" type="p8:DT_Characteristic" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     5edbfdc728ce11e6900a100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_HdrAdditionalData">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               7b165ea028cd11e6c3c0000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="SystemClient" type="xsd:string" minOccurs="0" />
               <xsd:element name="SystemURL" type="xsd:string" minOccurs="0" />
               <xsd:element name="JobType" type="xsd:string" minOccurs="0" />
               <xsd:element name="JobId" type="xsd:string" minOccurs="0" />
               <xsd:element name="Process" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_Header">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               a0bde2db28cd11e6b1d4000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="OrderNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de12584bfb6f11e5c0692c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales Document
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="TransactionID" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     a0b4913328cd11e69a56100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="OrderType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de12584cfb6f11e58b0c2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales Document Type
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="SalesOrganization" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de12584dfb6f11e5c95a2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales Organization
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DistributionChannel" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de12584efb6f11e5a3832c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Distribution Channel
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DocumentDate" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de12584ffb6f11e5b4c22c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Document Date (Date Received/Sent)
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="Division" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de125850fb6f11e591f12c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Division
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerPurchaseOrderType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de125851fb6f11e5bb0e2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Customer purchase order type
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="CustomerPurchaseOrderNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de125852fb6f11e5beda2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Customer purchase order number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="YourReference" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de125853fb6f11e5bc1c2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Your Reference
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="OrdererName" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     de125854fb6f11e5c5b92c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Name of orderer
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="AdditionalData" type="DT_HdrAdditionalData" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_ServiceOrder">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               a378fbd1fb7b11e582e3000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ServiceOrderNumber" type="xsd:string" />
               <xsd:element name="ExternalReference" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_SalesOrderCreateResponse">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               eb66371031ce11e6afb7000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="SalesOrders" type="DT_SalesOrderResponse">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     eb5f671c31ce11e68863100ba9b10464
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DT_ScheduleLine">
            <xsd:annotation>
               <xsd:appinfo source="http://sap.com/xi/VersionID">
               4178d845fb7711e5a59a000000327242
               </xsd:appinfo>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="ItemNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41685261fb7711e5b4ff2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Sales Document Item
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ScheduleLineNumber" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41685262fb7711e595532c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Delivery Schedule Line Number
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="RequestDate" type="xsd:date" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41685263fb7711e5a7062c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Schedule line date
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="DateType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41685264fb7711e5b5702c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Date type (day, week, month, interval)
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="RequestQuantity" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41685265fb7711e5c14b2c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Order quantity in sales units
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ScheduleType" type="xsd:string" minOccurs="0">
                  <xsd:annotation>
                     <xsd:appinfo source="http://sap.com/xi/TextID">
                     41688c62fb7711e5c6782c44fd68f65a
                     </xsd:appinfo>
                     <xsd:documentation>
                     Schedule line category
                     </xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="MT_SalesOrderCreateRequest">
      <wsdl:documentation />
      <wsdl:part name="MT_SalesOrderCreateRequest" element="p1:MT_SalesOrderCreateRequest" />
   </wsdl:message>
   <wsdl:message name="MT_SalesOrderCreateResponse">
      <wsdl:documentation />
      <wsdl:part name="MT_SalesOrderCreateResponse" element="p1:MT_SalesOrderCreateResponse" />
   </wsdl:message>
   <wsdl:portType name="SI_SalesOrderCreate_Sync_OB">
      <wsdl:documentation />
      <wsdl:operation name="SI_SalesOrderCreate_Sync_OB">
         <wsdl:documentation />
         <wsp:Policy>
            <wsp:PolicyReference URI="#OP_SI_SalesOrderCreate_Sync_OB" />
         </wsp:Policy>
         <wsdl:input message="p1:MT_SalesOrderCreateRequest" />
         <wsdl:output message="p1:MT_SalesOrderCreateResponse" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SI_SalesOrderCreate_Sync_OBBinding" type="p1:SI_SalesOrderCreate_Sync_OB">
      <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="SI_SalesOrderCreate_Sync_OB">
         <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://sap.com/xi/WebService/soap1.1" />
         <wsdl:input>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SI_SalesOrderCreate_Sync_OBService">
      <wsdl:port name="HTTP_Port" binding="p1:SI_SalesOrderCreate_Sync_OBBinding">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://test.5flow.net/tools/corestub/endpoint.php" />
      </wsdl:port>
      <wsdl:port name="HTTPS_Port" binding="p1:SI_SalesOrderCreate_Sync_OBBinding">
         <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="https://test.5flow.net/tools/corestub/endpoint.php" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
